* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "poppins", sans-serif;
}
body {
  color: #ededed;
  background: #081b29;
}

/* Utilities */
.cyan {
  color: #0ef;
}
.btn-box {
  display: inline-block;
  padding: 12px 20px;
  background: #0ef;
  border-radius: 40px;
  font-size: 16px;
  color: #05182a;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  margin-top: 2rem;
  transition: all 1s ease;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 2s;
  box-shadow: 0 0 5px #0ef, 0 0 25px #0ef;
}
.btn-box:hover {
  box-shadow: 0 0 5px #0ef, 0 0 25px #0ef, 0 0 50px #0ef;
}
.para {
  color: #cbc9c9;
  font-size: 20px;
  line-height: 1.4;
  text-align: justify;
}
.sub-title {
  text-align: center;
  font-size: 60px;
  padding-bottom: 50px;
}
.icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #0ef;
  color: #0ef;
  border-radius: 50%;
  font-size: 20px;
  text-decoration: none;
  margin: 30px 15px 30px 0;
  transition: 0.6s ease;
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}
.icons a:hover {
  background: #0ef;
  color: #05182a;
  box-shadow: 0 0 20px #0ef;
}

/* Header section */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 150px;
  background: #0f2841;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.logo {
  position: relative;
  font-size: 30px;
  /* color: #7bf6ff; */
  text-decoration: none;
  font-weight: 600;
  cursor: default;
  opacity: 0;
  animation: slideRight 1s ease forwards;
}
.navbar a {
  display: inline-block;
  font-size: 25px;
  color: #cbc9c9;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: 0.5s;
  opacity: 0;
  animation: slideLeft 0.5s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}
.navbar a:hover {
  color: #0ef;
}

/* Home Section */

.home {
  position: relative;
  width: 100%;
  justify-content: space-between;
  height: 95vh;
  display: flex;
  align-items: center;
  padding: 70px 10% 0;
}
.home-content {
  max-width: 600px;
}
.home-content h3 {
  font-size: 32px;
  font-weight: 700;
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: 0.7s;
}
.home-content h3:nth-of-type(2) {
  margin-bottom: 30px;
  animation: slideTop 1s ease forwards;
  animation-delay: 0.7s;
}
.home-content h1 {
  font-size: 56px;
  font-weight: 700;
  margin: -3px 0;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 1s;
}
.home-content p {
  opacity: 0;
  animation: slideLeft 1s ease forwards;
  animation-delay: 1s;
}

.home-img {
  display: flex;
  position: relative;
  opacity: 0;
  animation: slideLeft 0.5s ease forwards;
}
.img-main {
  display: flex;
  width: 40rem;
}

/* about section */

.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  height: 100vh;
  gap: 1.5rem;
}
.about-img {
  display: flex;
  padding: 67px 102px;
  position: relative;
  opacity: 0;
  animation: slideRight 1s ease forwards;
}

.about .img-main {
  display: flex;
  width: 40rem;
}
.about-text {
  margin-right: 4rem;
}
.about-text h2 {
  text-align: left;
  padding-bottom: 0;
}
.about-text h4 {
  font-size: 29px;
  font-weight: 600;
  color: #fff;
  line-height: 1.7;
  margin: 15px 0 30px;
}

/* Services Section */

#services {
  color: #cbc9c9;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 4rem;
  height: 95vh;
}

.container {
  padding: 90px;
  padding-top: 0;
  margin-bottom: 10rem;
}
.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(259px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
.services-list div {
  background-color: transparent;
  padding: 40px;
  font-size: 13px;
  font-weight: 13px;
  border-radius: 20px;
  border-right: 10px;
  transition: background 0.5s, transform 0.5s;
  box-shadow: 1px 1px 20px #012290f7, 1px 1px 20px #0053b8f7;
}
.services-list div i {
  font-size: 50px;
  margin-bottom: 30px;
}
.services-list div h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}
.services-list div:hover {
  transform: translateY(-10px);
}
.services-list div p {
  font-size: 18px;
}

/* Skill section */

.skill-section {
  display: flex;
  flex-wrap: wrap;
}
.container1 {
  width: 600px;
  height: 500px;
  padding: 75px 90px;
  margin-left: 120px;
}
.heading1 {
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 3px;
  margin-bottom: 50px;
}
.bar {
  font-size: 27px;
}
.teachnical-bars .bar {
  margin: 25px 0;
}
.teachnical-bars .bar:first-child {
  margin-top: 0;
}
.teachnical-bars .bar:last-child {
  margin-bottom: 0;
}
.teachnical-bars .bar .progress-line {
  margin-bottom: 10px;
}
.teachnical-bars .bar .info span {
  font-size: 17px;
  font-weight: 500;
  animation: showtext 0.5s 1s linear forwards;
  opacity: 0;
}
.teachnical-bars .bar .progress-line {
  position: relative;
  border-radius: 10px;
  width: 100%;
  height: 5px;
  background-color: #000000;
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
  transform: scaleX(0);
  transform-origin: left;
}
.teachnical-bars .bar .progress-line span {
  height: 100%;
  background-color: #0ef;
  position: absolute;
  border-radius: 10px;
  animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
  transform: scaleX(0);
  transform-origin: left;
}
.progress-line.html span {
  width: 90%;
}
.progress-line.css span {
  width: 80%;
}
.progress-line.javascript span {
  width: 60%;
}
.progress-line.react span {
  width: 40%;
}
.progress-line.python span {
  width: 60%;
}
.progress-line.cpp span {
  width: 80%;
}
.progress-line span::after {
  position: absolute;
  padding: 1px 8px;
  background-color: #000;
  color: #fff;
  font-size: 12px;
  border-radius: 3px;
  top: -28px;
  right: -20px;
  animation: showText 0.5s 1.5s linear forwards;
  opacity: 0;
}
.progress-line.html span::after {
  content: "90%";
}
.progress-line.css span::after {
  content: "80%";
}
.progress-line.javascript span::after {
  content: "60%";
}
.progress-line.react span::after {
  content: "40%";
}
.progress-line.python span::after {
  content: "60%";
}
.progress-line.cpp span::after {
  content: "80%";
}
.progress-line span::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #000;
  top: -10px;
  right: 0;
  animation: showText 0.5s 1.5s linear forwards;
  opacity: 0;
}
.radial-bars {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}
.radial-bars .radial-bar {
  width: 50%;
  height: 170px;
  margin-bottom: 10px;
  position: relative;
}
.radial-bars .radial-bar svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  width: 120px;
  height: 160px;
}
.radial-bars .radial-bar .progress-bar {
  stroke-width: 9;
  stop-color: black;
  fill: transparent;
  stroke-dasharray: 502;
  stroke-dashoffset: 502;
  stroke-linecap: round;
  animation: animate-bar 1s linear forwards;
}
.path {
  stroke-width: 10;
  stroke: #0ef;
  /* fill: transparent; */
  stroke-dasharray: 502;
  stroke-dashoffset: 502;
  stroke-linecap: round;
}
.path-1 {
  animation: animate-path1 1s 1s linear forwards;
}
.path-2 {
  animation: animate-path2 1s 1s linear forwards;
}
.path-3 {
  animation: animate-path3 1s 1s linear forwards;
}
.path-4 {
  animation: animate-path4 1s 1s linear forwards;
}
.radial-bar .percentage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 17px;
  font-weight: 500;
  animation: showText 0.5s 1s linear forwards;
  opacity: 0;
}
.radial-bar .text {
  width: 100%;
  position: absolute;
  text-align: center;
  left: 50%;
  bottom: -5px;
  transform: translateX(-50px);
  font-size: 17px;
  font-weight: 500;
  animation: showText 0.5s 1s linear forwards;
  opacity: 0;
}

/* Porfolio Section */

.main-text {
  padding: 130px;
  margin-top: 200px;
}
.protfolio-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(359px, auto));
  padding: 3rem 0;
}
.row {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  cursor: pointer;
}
.row img {
  width: 90%;
  border-radius: 8px;
  display: inline-block;
  position: relative;
  transition: transform 0.5s;
}
.layer {
  width: 94.5%;
  height: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.1), #0ef);
  position: absolute;
  border-radius: 8px;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 40px;
  transition: height 0.5s;
}
.layer h5 {
  color: #000;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}
.layer p {
  color: #cbc9c9;
  font-size: 1.2rem;
  line-height: 1.8;
}
.layer i {
  margin-top: 20px;
  font-size: 20px;
  color: red;
  background: #fff;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.row:hover img {
  transform: scale(1.1);
}
.row:hover .layer {
  height: 100%;
}

/* Contact Section */

.contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 3rem;
  padding-left: 30px;
  margin-top: 130px;
}
.contact-text h2 {
  font-size: 90px;
  line-height: 1;
  text-align: center;
  padding-bottom: 4rem;
}
.contact-text h4 {
  margin: 15px 0;
  color: rgb(228, 228, 228);
  font-size: 20px;
  font-weight: 600;
}
.contact-text p {
  margin-bottom: 2rem;
  color: rgb(177, 177, 177);
  font-size: 20px;
  line-height: 30px;
}
.contact-list {
  margin-bottom: 3rem;
}
.contact-list li {
  margin-bottom: 10px;
  display: block;
}
.contact-list i {
  display: inline-block;
  color: #0ef;
  font-size: 20px;
  font-weight: 600;
  transition: all 0.4s ease;
}
.contact-list li a:hover {
  transform: scale(1.01) translateY(-5px);
  color: #0ef;
}
.contact-form form {
  position: relative;
}
.contact-form form input,
form textarea {
  border: none;
  outline: none;
  width: 90%;
  padding: 18px;
  background: #555557;
  color: #000;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
}
.contact-form textarea {
  resize: none;
  height: 220px;
}
.contact-form form .send {
  display: inline-block;
  padding: 14px 60px;
  background: #0ef;
  border-radius: 40px;
  font-size: 18px;
  color: #05182a;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  margin-top: 2rem;
  transition: all 1s ease;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 2s;
  box-shadow: 0 0 5px #0ef, 0 0 25px #0ef;
}
.contact-form form .send:hover {
  box-shadow: 0 0 5px #0ef, 0 0 25px #0ef, 0 0 50px #0ef;
}
.last-text p {
  width: 100%;
  text-align: center;
  padding: 25px 0;
  background: rgb(7, 85, 91);
  font-weight: 300;
  margin-top: 70px;
}
.top {
  position: fixed;
  bottom: 2.1rem;
  right: 2.1rem;
}
.top i {
  color: #000;
  background: #0ef;
  font-size: 20px;
  padding: 10px;
  border-radius: 0.5rem;
}

/* Key Section */

@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes slideTop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes slideBottom {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes slideLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}
@keyframes showText {
  100% {
    opacity: 1;
  }
}
@keyframes animate-bar {
  100% {
    stroke-dashoffset: -1;
  }
}
@keyframes animate-path1 {
  100% {
    stroke-dashoffset: 50;
  }
}
@keyframes animate-path2 {
  100% {
    stroke-dashoffset: 175;
  }
}
@keyframes animate-path3 {
  100% {
    stroke-dashoffset: 125;
  }
}
@keyframes animate-path4 {
  100% {
    stroke-dashoffset: 75;
  }
}
